.Share {
  position: absolute;
  bottom: -18%;
  width: 200px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-evenly;
}

.Size {
  font-size: 30px;
}

@media (min-width: 601px) {
  .Size {
    font-size: 40px;
  }
}
