.Sidebar {
  height: 100%;
  background-color: white;
  width: 50%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 500;
  transition: 0.3s ease-in-out;
}

.Sidebar span {
  position: absolute;
  right: 15px;
  top: 10px;
  color: black;
  font-weight: bold;
}

.Sidebar div {
  position: absolute;
  top: 50px;
  width: 100%;
  text-align: center;
}

.Close {
  transform: translateX(-100%);
}

.Open {
  transform: translateX(0);
}

@media (min-width: 601px) {
  .Sidebar {
    display: none;
  }
}
