.NoFavorites {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.NoFavorites a {
  text-decoration: none;
  font-weight: bold;
  color: #fa8d62;
}

@media (min-width: 601px) {
  .NoFavorites h2 {
    font-size: 30px;
  }

  .NoFavorites p {
    font-size: 20px;
  }
}
